<div class="container">
  <blockquote>
    You must be a registered user to add a listing.
  </blockquote>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6 active"><a href="#test1">Delivery Requests</a></li>
        <li class="tab col s6 active"><a href="#test1">Delivery Services</a></li>
      </ul>
    </div>
    <div class="row">
      <form action="#">
        <div class="col 3">
          <p>
            <label for="test1">Sort By:</label>
          </p>
        </div>
        <div class="col 3">
          <p>
            <input name="group1" type="radio" id="test1" />
            <label for="test1">Location</label>
          </p>
        </div>
        <div class="col 3">
          <p>
            <input name="group1" type="radio" id="test2" />
            <label for="test2">Price</label>
          </p>
        </div>
        <div class="col 3">
          <p>
            <input name="group1" type="radio" id="test3" />
            <label for="test3">Recent</label>
          </p>
        </div>
        <div class="col 3">
          <p>
            <input name="group1" type="radio" id="test4" />
            <label for="test4">User Rating</label>
          </p>
        </div>
        <div class="col 3">
          <p>
            <label for="test4">Search : </label>
            <input/>
          </p>
        </div>
      </form>
    </div>

    <div class="col s12">
      <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
        <li class="">
          <div class="collapsible-header">$$ - Subway - 2.5 Miles Away</div>
          <div class="collapsible-body" style="display: none;">
            <span class="title">Test Account 1</span>
            <p>
              Address: 101 test Street
              <br> Order Details: A Footlong italian B.M.T with everything on it
              <br> Meal Price: 7-8$.
              <br> Delivery Fee: 5$
              <br> Time frame: By 5:00 PM today.
              <a href="#!" class="secondary-content"><i class="material-icons">view_list</i></a>
            </p>
          </div>
        </li>
        <li class="">
          <div class="collapsible-header">$ - Pizza Hut - .7 Miles Away</div>
          <div class="collapsible-body" style="display: none;">
            <span class="title">Test Account 1</span>
            <p>
              Address: 101 test Street
              <br> Order Details: A Footlong italian B.M.T with everything on it
              <br> Meal Price: 7-8$.
              <br> Delivery Fee: 5$
              <br> Time frame: By 5:00 PM today.
              <a href="#!" class="secondary-content"><i class="material-icons">view_list</i></a>
            </p>
          </div>
        </li>
        <li class="">
          <div class="collapsible-header">$ - KrispyKreme - 2.5 Miles Away</div>
          <div class="collapsible-body" style="display: none;">
            <span class="title">Test Account 1</span>
            <p>
              Address: 101 test Street
              <br> Order Details: A Footlong italian B.M.T with everything on it
              <br> Meal Price: 7-8$.
              <br> Delivery Fee: 5$
              <br> Time frame: By 5:00 PM today.
              <a href="#!" class="secondary-content"><i class="material-icons">view_list</i></a>
            </p>
          </div>
        </li>
        <li class="">
          <div class="collapsible-header">$ - McDonalds - 1.9 Miles Away</div>
          <div class="collapsible-body" style="display: none;">
            <span class="title">Test Account 1</span>
            <p>
              Address: 101 test Street
              <br> Order Details: A Footlong italian B.M.T with everything on it
              <br> Meal Price: 7-8$.
              <br> Delivery Fee: 5$
              <br> Time frame: By 5:00 PM today.
              <a href="#!" class="secondary-content"><i class="material-icons">view_list</i></a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="right-align">
    <a class="btn-floating btn-large waves-effect waves-light red right-align modal-trigger" href="#modal1"> <i class="material-icons">add</i></a>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate">
            <label >Item cost: </label>
          </div>
          <div class="input-field col s12">
            <input type="text" class="validate">
            <label>When do you need it by?</label>
          </div>
          <div class="input-field col s12">
            <input type="text" class="validate">
            <label>Where is it?</label>
          </div>
          <div class="input-field col s12">
            <input type="text" class="validate">
            <label>Where do you want to receive it?</label>
          </div>
          <div class="input-field col s12">
            <input type="text" class="validate">
            <label>Your cellphone number (will not be public unless delivery is accepted): </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
      <i class="material-icons">check</i>
    </a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
      <i class="material-icons">close</i>
    </a>
  </div>

</div>
